aiohttp==3.7.4.post0; python_version >= "3.6"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "win32" or python_full_version >= "3.5.0" and sys_platform == "win32"
colorlog==5.0.1
idna-ssl==1.1.0; python_version < "3.7" and python_version >= "3.6"
idna==3.2; python_version < "3.7" and python_version >= "3.6"
multidict==5.1.0; python_version >= "3.6"
pillow==8.3.1; python_version >= "3.6"
pycryptodome==3.10.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pyobjc-core==7.3; python_version >= "3.6" and sys_platform == "darwin"
pyobjc-framework-cocoa==7.3; python_version >= "3.6" and sys_platform == "darwin"
pyobjc-framework-quartz==7.3; python_version >= "3.6" and sys_platform == "darwin"
pyperclip==1.8.2
pystray==0.17.3
python-xlib==0.31; sys_platform == "linux"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "linux" or python_full_version >= "3.3.0" and sys_platform == "linux"
typing-extensions==3.10.0.0; python_version < "3.8" and python_version >= "3.6"
websockets==9.1; python_full_version >= "3.6.1"
yarl==1.6.3; python_version >= "3.6"
